################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Monty-Hall WebAPI/bin/
/Monty-Hall WebAPI/bin/Debug/net6.0/Monty-Hall WebAPI.pdb
/MotntyHall.Services/obj/Debug/net6.0
/Monty-Hall WebAPI/obj/Debug/net6.0/Monty-Hall WebAPI.csproj.AssemblyReference.cache
/Monty-Hall WebAPI/obj/Debug/net6.0/Monty-Hall WebAPI.csproj.CoreCompileInputs.cache
/Monty-Hall WebAPI/obj/Debug/net6.0/Monty-Hall WebAPI.dll
/Monty-Hall WebAPI/obj/Debug/net6.0/Monty-Hall WebAPI.pdb
/Monty-Hall WebAPI/obj/Debug/net6.0/ref/Monty-Hall WebAPI.dll
/Monty-Hall WebAPI/.vs/Monty-Hall WebAPI/DesignTimeBuild/.dtbcache.v2
/Monty-Hall WebAPI/.vs/Monty-Hall WebAPI/FileContentIndex/3499abf6-851a-43a2-9374-dca45e618af6.vsidx
*.vsidx
