<div class="container">
    <div class="d-flex justify-content-center">
        <img class="shadow bg-white rounded row" style="height: 400px;" src="assets/images/Monty-Hall-image.png" alt="">
    </div>
    <br>

    <div class="loader-overlay" *ngIf="isLoading">
        <div class="loader">
            <app-Loader [isLoading]="isLoading"></app-Loader>

        </div>
    </div>

    <div class="">
        <div class="row">
            <app-userinput class="col-md-6" (Data)="handleEvent($event)"></app-userinput>

            <div class="card rounded col-md-6">
                <mat-label>Number of Simulations : {{simulationResult.NumberOfSimulations}}</mat-label>
                <br>
                <mat-label>Switch the Door : {{simulationResult.SwitchDoor}}</mat-label>
                <br>
                <mat-label>Win Percent(%) : {{simulationResult.WinPercent}}</mat-label>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{'width': simulationResult.WinPercent}">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>