<div class="container mt-5.ids-contaner-employee">   
    <div #dialogContainer class="custom-dialog-container">
        <div class="ids-wraper-customDialog">
            <div style="padding-bottom: 30px;"><h6>{{message}}</h6></div>
            <!-- <br> -->
            <div>
                <button class="btn btn-primary float-right ids-Confirm-Button" (click)="onYesClick()">Confirm</button>
                <button class="btn btn-primary float-right ids-Cancel-Button" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</div> 